body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Consolas";
}

#panel {
  padding-left: 2%;
  padding-right: 2%;
  height: 0%;
  transition: max-height 7s;
}

.resultText {
  font-size: small;
  padding-top: 4%;
  padding-bottom: 6%;
}
